@mixin grid {
  display: grid;
  gap: $default-size 0
}

@for $i from 1 to $columns {
  .grid--#{$i}-columns {
    @include grid;
    grid-template-columns: repeat($i, 1fr);
  }
}

@mixin center-text {

  text-align: center;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin list-inline {

  @include reset-list;

  li {
    display: inline-block;
    margin: 0;

    +li {
      margin: {
        left: 1rem
      }
    }
  }
}

@each $i,
$size in $sizes {

  .pl-#{$i},
  .px-#{$i} {
    padding-left: $default-size * $size !important;
  }

  .pr-#{$i},
  .px-#{$i} {
    padding-right: $default-size * $size !important;
  }

  .ml-#{$i},
  .mx-#{$i} {
    margin-left: $default-size * $size !important;
  }

  .mr-#{$i},
  .mx-#{$i} {
    margin-right: $default-size * $size !important;
  }

  .pt-#{$i},
  .py-#{$i} {
    padding-top: $default-size * $size !important;
  }

  .pb-#{$i},
  .py-#{$i} {
    padding-bottom: $default-size * $size !important;
  }

  .mt-#{$i},
  .my-#{$i} {
    margin-top: $default-size * $size !important;
  }

  .mb-#{$i},
  .my-#{$i} {
    margin-bottom: $default-size * $size !important;
  }
}

@mixin reset-button {
  display: inline-block;
  padding: $default-size * 0.75 $default-size * 1.25;
  border-radius: $default-size * 0.25;
  @include center-text
}

@mixin flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}