
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
$font-family: 'Open sans', sans-serif;

// Colors
$color-primary: #E36209;
$color-white: #fff;
$color-light: #E3E3E3;

// Grid systems
$columns: 12;

// Sizes
$sizes: 0.25, 0.5, 1, 2, 4;
$default-size: 1rem !default;

