@import './normalize';

body {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  padding: 0 $default-size
}

.imgfluid {
  height: auto;
  max-width: 100%
}

.small {
  font-size: 85%;
}

.textmuted {
  color: $color-lightgrey
}

.grid {
  @include grid
}

.listinline {
  @include list-inline
}

.flexcenter {
  @include flex
}

.btn {

  @include reset-button;

  &--primary {
    background: $color-primary;
    color: $color-white;
  }

  &--block {
    display: block;
    width: 100%;
  }
}


nav {
  background: $color-dark;
}

@import './responsive';
