.bio {

    .container {
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: $default-size;
        padding-top: $default-size;
    }

    .bio__profilepicture {
        img {
            border-radius: 100%;
        }
    }

    .bio__resume {

        display: flex;
        flex-direction: column;
        justify-content: center;

        .username {
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-dark;
            margin: 0;
        }
    }
}

.navtabs {

    border-bottom: 2px solid $color-light;

    ul.listinline {
        display: flex;
        justify-content: space-between;

        li.listinline__item {
            flex-grow: 1;
            flex-basis: 0;
            padding: $default-size * 0.5 0 calc((#{$default-size} * 0.5) + 3px);
            position: relative;
            @include center-text;

            a {

                color: $color-lightgrey;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -2px;
                    height: 5px;
                }

                &.router-link-active {

                    color: $color-dark;
                    font-weight: bold;

                    &:after {
                        background: $color-primary;
                    }
                }
            }

            .item__count {

                color: $color-dark;
                background: $color-light;
                padding: 0 $default-size * 0.5;
                border-radius: $default-size;
            }
        }
    }
}

.navpanel {

    padding-top: $default-size * 1.5;
}
